$blue: #00AAAA;
$green: #00AA00;
$orange: #FF7700;

a {
  color: $blue;
  &.logo {
    color: $blue;
  }
}

.logo {
  color: $green;
  font-weight: bold;
}

.main-nav {
  a:not('.logo') {
    color: $orange;
    text-decoration: none;
    border-bottom: 3px dotted #000;
  }
}
