$blue: #00aaaa;
$green: #00aa00;
$orange: #ff7700;

a {
  color: $blue;
}

.logo {
  color: $green;
  font-weight: bold;
}
a .logo {
  color: $green;
  text-decoration: underline;
  border: none;
}

.main-nav {
  a {
    color: $orange;
    text-decoration: underline;
    border-bottom: 3px dotted #000;
  }
  .logo {
    color: $green;
    text-decoration: underline;
    border: none;
  }
}
